node_modules/
dist/
build/
.next/
.turbo/
coverage/
*.tsbuildinfo

.env
.env.local
.env.*.local

.expo/
*.log
npm-debug.*
pnpm-debug.*

.DS_Store
Thumbs.db

# Prisma
apps/api/prisma/*.db

# Stores — clés de soumission (Lot 9)
apps/mobile/credentials/

# Editor
.idea/
.vscode/*
!.vscode/extensions.json
